<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static\criar_conta.css">
</head>
<body>
        <section class="tudo" id="tudo">
        <form action="/criar_conta1" id="criar_conta1" method="POST">
            <span class="h1_criar"> 
                <h1>Criar Conta</h1>
            </span>
            <section class="id_pessoa">
                <span class="h1_id_pessoa">
                    <h1>Seu nome</h1>
                </span>
                <span  class="input_id_pessoa" id="input_id_pessoa" name="input_id_pessoa">
                    <input type="text" id="input_id_input" name="input_id_input">
                </span>
            </section>
            <section class="email_pessoa_cria">
                <span class="h1_email_pessoa">
                    <h1>Seu email</h1>
                </span>
                <span class="input_email_cria">
                    <input type="text" id="email_input_da_pessoa" name="email_input_da_pessoa">
                </span>
            </section>
            <section class="senha_pessoa">
                <span class="h1_senha_pessoa">
                    <h1>Sua senha</h1>
                </span>
                <span class="input_senha_pessoa">
                    <input type="password" id="input_senha_pessoa_input" name="input_senha_pessoa_input">
                </span>
            </section>
            <span class="btn_submi_criar">
                <button type="submit">Criar Conta</button>
            </span>
        </form>
    </section>
    </body>
</html>