<!DOCTYPE html>
<html lang = 'pt-br'>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static\style.css">
        <script src="static\java.js" defer></script>
        <script src="static\java-2.js" defer></script>
        <link rel="stylesheet" href="static\slider.css">
        <link rel="stylesheet" href="static\slider.css">
    </head>

    <body>
        <section class="cabeça">
            <ul class="cabeça-1">
                <form action="/historia-1" id="historia-1" method="POST">
                    <button class="button_menu">Historia</button>
                </form>
                <form action="/x-force" id="X-Force" method="POST">
                    <button class="button_menu">Force</button>
                </form>
                <form action="/personagem" id="personagem" method="POST">
                    <button class="button_menu">personagem</button>
                </form>
                <form action="">
                    <a href=""><button class="button_menu">Sociais</button></a>
                </form>
            </ul>
            <ul class="cabeça-2">
                <input type="text" name="" id="" placeholder="Pesquisar">
            </ul>
        </section>
        <section class="conteudo-1">
            <h1>Alguns personagem</h1>
        </section>
        <section class="conteudo-2">
            <div class="div-1">
                <img src="static\img\ceu.jpg" alt="">
                <p>Piscina</p>
            </div>
            <div class="div-1">
                <img src="static\img\ceu.jpg">
                <p>Alieee</p>
            </div>
            <div class="div-1">
                <img src="static\img\ceu.jpg">
                <p>Far</p>
            </div>
        </section>
        <section class="historia">
            <h1>Falando um pouco sobre o Piscina</h1>
        </section>
        <div class="desenvol">
            <span class="sub-historia">
                <p>
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk, 
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk,
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk.
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk,
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk 
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk.
                </p>
            </span>
            <span class="sub-historia-2">
                <img src="static\img\ceu.jpg" alt="">
            </span>
        </div>
        <span class="slide">
            <img id="primeimg" src="static\img\ceu.jpg" style="display: block;">
            <img id="seguimg" src="static\img\ceu.jpg" alt="">
            <img id="tercimg" src="static\img\ceu.jpg" alt="">
            <img id="quarimg" src="static\img\ceu.jpg" alt="">
            <img id="quintimg" src="static\img\ceu.jpg" alt="">
        </span>
        <span class="botoes">
            <button id="btn-1"><img src="static\img\ceu.jpg" alt=""></button>
            <button id="btn-2"><img src="static\img\ceu.jpg" alt=""></button>
            <button id="btn-3"><img src="static\img\ceu.jpg" alt=""></button>
            <button id="btn-4"><img src="static\img\ceu.jpg" alt=""></button>
            <button id="btn-5"><img src="static\img\ceu.jpg" alt=""></button>
        </span>
        <section class="sobre">
            <span class="sobre-2">
                <p id="primsobre" style="display: block; margin-bottom: 3%;">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br/>kkkk
                kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br/>
                oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo<br/>
                kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br/>
                kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk<br/>
                kkkkkkkkkkkkkkkkkkkkkkk</p>
                <p id="segsobre">oooooooooooooooooooooooooooooooooooooooooo<br/>
                oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo <br/>
                oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo<br/>
                ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo</p>
                <p id="tercsobre">uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu<br/>
                uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu<br/>
                uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu <br/>                    
                uuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</p>
                <p id="quarsobre">iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii<br/>
                iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii<br/>
                iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii<br/>
                iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
            </span>
            <span class="sobre-3">
                <button id="primeirosobre"><h1>historia</h1></button>
                <button id="segundosobre"><h1>Personalidade</h1></button>
                <button id="terceirosobre"><h1>Poderes</h1></button>
                <button id="quartosobre"><h1>Force</h1></button>
            </span>
        </section>
        <section class="corpo_flex">
            <span class="vendo_dead">
                <span>
                    <h1>
                        Historia do filme
                    </h1>
                </span>
                <span>
                    <p>jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj <br/>
                    khjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br/>
                    jhjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj <br/>
                    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br/>
                    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br/>
                    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
                    jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
                </span>
            </span>
            <span class="descição">
                <section class="filme">
                    <span class="titulo">
                        <h1>Piscina</h1>
                    </span>
                    <span class="img_filme"><img src="static\img\ceu.jpg" alt=""></span>
                    <span class="ver_filme">
                        <p>Ver Filme</p>
                    </span>
                </section>
            </span>
        </section>
    </body>
</html>