<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static\personagem.css">
    </head>
    <body>
        <section class="cabeça">
            <ul class="cabeça-1">
                <form action="/começo" id="começo" method="POST">
                    <button class="button_menu">Home</button>
                </form>
                <form action="/x-force" method="POST">
                    <button class="button_menu">Force</button>
                </form>
                <form action="/historia-1" id="historia-1" method="POST">
                    <button class="button_menu">Historia</button>
                </form>
                <form action="">
                    <a href=""><button class="button_menu">Sociais</button></a>
                </form>
            </ul>
        </section>
        <section class="conteudo">
            <div class="persona">
                <img src="static\img\ceu.jpg" alt="">
                <h1>Deter</h1>
            </div>
            <div class="persona">
                <img src="static\img\ceu.jpg" alt="">
                <h1>Ansioso</h1>
            </div>
            <div class="persona">
                <img src="static\img\ceu.jpg" alt="">
                <h1>Esperar</h1>
            </div>
            <div class="persona">
                <img src="static\img\ceu.jpg" alt="">
                <h1>Lixeira</h1>
            </div>
            <div class="persona">
                <img src="static\img\ceu.jpg" alt="">
                <h1>Piada</h1>
            </div>
            <div class="persona">
                <img src="static\img\ceu.jpg" alt="">
                <h1>Peter</h1>
            </div>
        </section>
    </body>
</html>