<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/recuperar.css">
</head>
<body>
    <section class="tudo" id="tudo">
        <form action="/recuperar_conta1" id="recuperar_conta1" method="POST">
            <span class="h1_recuperar">
                <h1>Recuperar conta</h1>
            </span>
            <section class="nome_pessoa">
                <span class="h1_id_recuperar">
                    <h1>informe seu Email</h1>
                </span>
                <span  class="input_email_recuperar" id="input_email_recuperar" name="input_email_recuperar">
                    <input type="text" class="receber_input_email" id="receber_input_email" name="receber_input_email">
                </span>
            </section>
            <section class="senha_nova">
                <span class="h1_nova_senha">
                    <h1>Nova senha</h1>
                </span>
                <span  class="input_nova" id="input_email" name="input_email">
                    <input type="password" class="input_nova_senha" id="input_nova_senha" name="input_nova_senha">
                </span>
                <span class="btn_submi_recuperar">
                    <button type="submit">Recuperar</button>
                </span>
            </section>
        </form>
    </section>
    </body>
</html>