<!DOCTYPE html>
<html lang="pt-br">
<head>
        <link rel="stylesheet" href="static\erro.css">
</head>
    <body>
        <section class="erro_todo">
            <span class="h1_acesso">
                <h1>acesso negado</h1>
            </span>
            <span class="h1_erro">
                <h1>erro</h1>
            </span>
            <span class="h1_tente">
                <h1>tente novamente</h1>
            </span>
        </section>
        <section>
            <button>tentar</button>
        </section>
</body>