<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static\X_force.css">
    </head>
    <body>
        <section class="cabeça">
            <ul class="cabeça-1">
                <form action="/começo" id="começo" method="POST">
                    <button class="button_menu">Home</button>
                </form>
                <form action="/historia-1" id="historia-1" method="POST">
                    <button class="button_menu">Historia</button>
                </form>
                <form action="/personagem" id="Personagem" method="POST">
                    <button class="button_menu">Personagem</button>
                </form>
                <form action="">
                    <a href=""><button class="button_menu">Sociais</button></a>
                </form>
            </ul>
        </section>
        <span class="titulo">
            <h1>Force</h1>
        </span>
        <span class="conteudo-1">
            <span class="texto-imagm"> 
                <p>
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                </p>
            </span>
            <span class="texto-imagm">
                <p>
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
                    oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                    lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                    lllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk
                    kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk.
                </p>
            </span>
        </span>
        <section class="conteudo-2">
            <span class="imagem-1">
                <img src="static\img\ceu.jpg" alt="">
            </span>
            <span class="imagem-2">
                <img src="static\img\ceu.jpg" alt="">
            </span>
            <span class="imagem-3">
                <img src="static\img\ceu.jpg" alt="">
            </span>
        </section>
    </body>
</html>